* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #9400d3;
}

.ventana {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 350px 150px;
}

.seccion-nombre-ganador {
  display: flex;
  grid-column: 2/3;
  grid-row: 1/2;
  flex-direction: column;
  justify-content: space-around;
}

.nombre-juego {
  display: flex;
  align-self: center;
}

.winner {
  display: flex;
  justify-self: end;
  align-self: center;
}

.jugadores {
  justify-items: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  color: black;
  display: inline-grid;
  gap: 15px;
  margin-top: 20px;
}

p {
  margin-bottom: 10px;
}

form {
  display: grid;
}

input {
  border: 2px solid white;
  border-radius: 3px;
  height: 25px;
  text-align: center;
}

input:focus {
  border: 3px solid black;
  outline: none;
}

.boton-guardar {
  height: 23px;
  font-size: 13px;
  color: white;
  background-color: rgb(4, 0, 128);
  box-sizing: border-box;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 3px;
}

.jugador1 {
  margin-bottom: 15px;
}

.square {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
  justify-content: center;
  color: black;
  gap: 5px;
  margin-top: 30px;
}

.cuadricula {
  display: grid;
  border: 2px solid white;
  border-radius: 5px;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.cuadricula:hover {
  filter: opacity(0.9);
  transform: scale(1.03);
}

.cuadricula.is-selected {
  background: black;
  color: white;
  width: 50px;
  height: 50px;
}

#turno-jugador {
  height: 30px;
  width: 30px;
  display: inline-flex;
  grid-column: 2/3;
  justify-content: space-around;
  gap: 10px;
  align-items: start;
}

footer {
  display: flex;
  flex-direction: column;
  grid-row: 3/4;
  grid-column: 2/3;
  gap: 20px;
}

.restart-game {
  width: 120px;
  align-self: center;
}

.turn-player {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

