* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:#9400D3;
}

.ventana {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 350px 150px;
}

.jugadores {
  justify-items: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  color: black;
  display: inline-grid;
  gap: 15px;
  margin-top: 20px;
}

p{
  margin-bottom: 10px;
  
}

form{
  display: grid;
}

input{
  border: 2px solid white;
  border-radius: 3px;
  height: 25px;
  text-align: center; 
}

input:focus {
  border: 3px solid black;
  outline: none;
}  

.boton-guardar{
  height: 23px;
  font-size: 13px;
  color: white;
  background-color: rgb(4, 0, 128);
  box-sizing: border-box;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 3px;
}

.square {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
  justify-content: center;
  color: black;
  gap: 5px;
  margin-top: 30px;
}

.cuadricula {
  display: grid;
  border: 2px solid white;
  border-radius: 5px;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.cuadricula:hover {
  filter: opacity(0.9);
  transform: scale(1.03);
}
